{% if site.gravatar_email %}
<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">プロフィール</h3>
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    <img src="{% gravatar_image %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
  </div>
  <div style="display: table-cell; width: 100%; vertical-align: middle;">
    <div style="margin-left: 5px; margin-right: 5px;">
    honjo2<br />
    大磯 → 品川
    </div>
  </div>

</section>
{% endif %}
